/* CSS Variables for colors */
:root {
  --bg-color-light: rgb(244 241 232);
  --bg-color-dark: rgb(118 75 54);
  --border-color-light: rgb(0 0 0 / 7%);
  --subheader-color: rgb(19 19 19);
  --button-bg: rgb(216 167 144);
  --nav-link-color: rgb(48 66 84);
}

/* Fade in/out transitions for SPA sections */
.fade-in {
  animation: fade-in 0.4s;
}

.fade-out {
  animation: fade-out 0.4s;
}

.show {
  display: block;
  opacity: 1;
}

.hide {
  display: none;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

html,
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
  font-size: 12px;
}

main {
  position: absolute;
  inset: 3rem 0 0;
  width: 100vw;
  padding: 0;
  overflow-y: auto;
  text-align: center;
}

section {
  padding: 5rem;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  text-align: center;
}

nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: right;
  width: 100vw;
  height: 3rem;
  padding: 0 2rem;
  font-size: 1.075rem;
  text-transform: uppercase;
  background-color: var(--bg-color-light);
  border: 1px solid var(--border-color-light);
}

nav #menu-toggle {
  display: none;
  font-size: 2rem;
  color: var(--nav-link-color);
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  width: 100%;
  max-width: fit-content;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  min-width: 5rem;
  padding: 0;
  margin: 0;
}

nav li:nth-child(5) {
  min-width: 15rem;
}

nav li:last-child {
  min-width: 8rem;
}

nav a {
  margin-inline: auto;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  color: var(--nav-link-color);
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
}

nav a.active {
  padding-bottom: 0.1rem;
  font-weight: bold;
  border-bottom: 2px solid var(--nav-link-color);
}

main .content > section {
  position: absolute;
  inset: 0;
  height: 100vh;
  padding: 2rem;
  color: inherit;
  background-color: inherit;
  opacity: 1;
  transition: opacity 0.4s;
}

.footer {
  padding: 1rem;
  color: white;
  text-align: center;
  background-color: #333;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.active {
  padding-bottom: 0.1rem;
  font-weight: bold;
  border-bottom: 2px solid var(--nav-link-color);
}

/* Top left image */
.bg-topleft {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 10vw;
  height: 10vw;
  pointer-events: none;
  user-select: none;
}

/* Rotated bottom left image */
.bg-rotated {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 10vw;
  height: 10vw;
  pointer-events: none;
  user-select: none;
  transform: rotate(180deg);
}

#index {
  height: 100vh;
}

.bg-dark {
  color: white;
  background-color: var(--bg-color-dark);
}

.bg-light {
  color: var(--bg-color-dark);
  background-color: var(--bg-color-light);
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 4rem;
}

h1.title {
  padding: 0;
  margin: -5rem 0 0;
  font-size: 8rem;
}

h2 {
  font-size: 1.75rem;
  color: var(--subheader-color);
}

h2.subtitle {
  padding: 0;
  margin: 1rem 0 2rem;
  font-family: 'Playfair Display', serif;
  font-size: 3.75rem;
  color: var(--bg-color-dark);
  text-transform: uppercase;
}

p {
  word-spacing: -0.075rem;
}

p.title-page {
  max-width: 50rem;
  margin: 4rem 0;
  font-size: 2rem;
}

#index > .section-content {
  justify-content: start;
}

.button {
  padding: 1rem 2rem;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 600;
  color: var(--bg-color-dark);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--button-bg);
  border: none;
  border-radius: 100vh;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

button:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.logo {
  width: 80vw;
  max-width: 20rem;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.about-content {
  display: flex;
  flex-flow: row wrap-reverse;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.about-image {
  width: 500px;
  height: 500px;
  margin-bottom: 2rem;
  object-fit: cover;
  object-position: bottom;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgb(0 0 0 / 30%);
}

.about-content div {
  max-width: 600px;
  padding: 0 1rem;
}

.about-content p {
  max-width: 100%;
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: justify;
}

.team-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 5rem;
  place-items: stretch center;
  width: 100%;
  max-width: 80rem;
  margin-top: 2rem;
}

.team-member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  max-width: 28rem;
  padding: 6rem 2rem 1rem;
  text-align: center;
  background-color: var(--button-bg);
  border-radius: 100vh 100vh 1rem 1rem;
  box-shadow: 0 4px 8px rgb(0 0 0 / 30%);
}

.team-member-image {
  width: 15rem;
  height: 15rem;
  min-height: 15rem;
  margin-bottom: 1rem;
  object-fit: cover;
  object-position: bottom;
  border-radius: 100vh 100vh 20rem 20rem;
}

.team-member-card hr {
  width: 50%;
  margin: 1rem 0;
  border: 1px solid var(--bg-color-dark);
}

.team-member-bio {
  max-width: 80%;
  font-family: 'Playfair Display', serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: var(--nav-link-color);
  text-align: justify;
}

.offer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  gap: 8rem;
  place-items: stretch center;
  width: 100%;
  margin-top: 2rem;
}

.offer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36rem;
  width: 100%;
  height: 80vh;
  padding: 2rem;
  border-radius: 1rem;
}

.offer-item-image {
  width: 15rem;
  height: 15rem;
  margin-bottom: 1rem;
  object-fit: contain;
  object-position: center;
}

.offer-item hr {
  width: 50%;
  margin: 1rem 0;
  border: 1px solid var(--bg-color-dark);
}

.offer-item-description {
  max-width: 70%;
  font-family: 'Playfair Display', serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: var(--nav-link-color);
  text-align: justify;
}

.offer-item-wide {
  display: flex;
  flex-flow: row nowrap;
  grid-column: span 2;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: max-content;
  margin: 2rem auto;
}

.offer-item-image-wide {
  width: 20%;
  min-width: 15rem;
  height: auto;
}

.offer-item-wide > div {
  width: 40%;
  min-width: 20rem;
}

.offer-item-wide h2 {
  padding: 0;
  margin: 0;
  font-size: 4rem;
  color: var(--bg-color-dark);
}

.offer-item-wide-description {
  width: 100%;
  margin-inline: auto;
  font-family: 'Playfair Display', serif;
  font-size: 1.75rem;
  line-height: 2rem;
  color: var(--bg-color-dark);
}

.offer-item-wide-images {
  position: relative;
  width: 10%;
  min-width: 5rem;
  height: 100%;
}

.offer-item-wide-images img {
  position: absolute;
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  object-position: left bottom;
  border-radius: 100vh;
  transition: transform 0.3s ease;
}

.offer-item-gallery-images img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 30%);
  transition: transform 0.3s ease;
}

.offer-item-wide-images img:hover {
  z-index: 10;
  transform: scale(1.05) rotate(5deg);
}

.offer-item-gallery-images img:hover {
  z-index: 10;
  transform: scale(1.2);
}

.offer-item-wide-images img:nth-child(1) {
  top: -2rem;
  right: -4rem;
}

.offer-item-wide-images img:nth-child(2) {
  bottom: -2rem;
  left: 0;
}

.offer-item-gallery {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100rem;
  height: max-content;
  margin: 2rem auto;
}

.offer-item-gallery h2 {
  padding: 0;
  margin: 0;
  font-size: 4rem;
  color: var(--bg-color-dark);
}

.offer-item-gallery-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem;
  justify-items: center;
  width: 100%;
}

.timetable-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-items: center;
  width: 100%;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

.timetable-day-card {
  width: 80%;
  height: 80vh;
  padding: 2rem;
  margin-inline: auto;
  scroll-snap-align: start;
  border-radius: 1rem;
}

.timetable-day-card h2 {
  padding: 0;
  margin: 0;
  font-size: 3rem;
  color: var(--bg-color-light);
}

.timetable-day-card hr {
  width: 50%;
  margin: 1rem auto;
  border: 1px solid var(--bg-color-light);
}

.timetable-day-card p {
  width: 100%;
  max-width: 100%;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--bg-color-light);
  text-align: justify;
}

/* Booking form styling */
.booking-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 60rem;
  padding: 2rem;
  margin-top: 4rem;
  background-color: var(--button-bg);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgb(0 0 0 / 30%);
}

#booking .section-content {
  gap: 2rem;
  justify-content: start;
}

.booking-form label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: var(--nav-link-color);
  text-align: left;
}

.booking-form input,
.booking-form textarea {
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1.25rem;
  color: var(--nav-link-color);
  background-color: var(--bg-color-light);
  border: none;
  border-radius: 0.5rem;
  box-shadow: inset 0 4px 8px rgb(0 0 0 / 7%);
  transition: all 0.3s ease;
}

.booking-form textarea {
  min-height: 10rem;
  resize: vertical;
}

.booking-form input:focus,
.booking-form textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--bg-color-dark);
}

.booking-form button {
  padding: 1rem 3rem;
  margin-top: 2rem;
  font-family: inherit;
  font-size: 1.5rem;
  color: var(--bg-color-light);
  cursor: pointer;
  background-color: var(--bg-color-dark);
  border: none;
  border-radius: 100vh;
  box-shadow: 0 4px 8px rgb(0 0 0 / 30%);
  transition: all 0.3s ease;
}

.booking-form button:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

#booking .section-content > iframe {
  width: 640px;
  height: 1150px;
}

/* Media Queries for responsiveness */
@media (width <= 1200px) {
  body,
  html {
    font-size: 14px;
  }

  section {
    padding: 1rem;
  }

  .about-image {
    width: 300px;
    height: 300px;
  }

  .about-content div {
    max-width: 90%;
    padding: 0;
  }

  .offer-content,
  .team-content {
    gap: 1rem;
  }

  .offer-item,
  .team-member-card {
    width: 80%;
    height: max-content;
    margin-bottom: 25vh;
  }

  .offer-item p {
    max-width: 90%;
  }

  .offer-item-wide,
  .offer-item-gallery {
    flex-direction: column;
    gap: 1rem;
  }

  .offer-item-wide > div {
    width: 100%;
    min-width: unset;
  }

  .offer-item-wide-images {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    min-width: unset;
    height: 15rem;
  }

  .offer-item-wide-images img {
    position: absolute;
    top: unset;
    right: unset;
    bottom: unset;
    left: unset;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 15rem;
    height: 15rem;
    object-fit: fill;
    transform: none !important;
  }

  .offer-item-wide-images img:nth-child(1) {
    top: 0;
    right: 50%;
    transform: translate(50%, 0) !important;
  }

  .offer-item-wide-images img:nth-child(2) {
    display: none !important;
  }

  h1.title {
    margin: -2rem 0 0;
    font-size: 5rem;
  }

  h2.subtitle {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  nav ul {
    max-width: 100%;
  }

  .section-content h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  .about-content p {
    font-size: 1.75rem;
  }

  p.team-member-bio {
    max-width: 90%;
    font-size: 1.5rem;
    font-weight: 500;
  }

  p.offer-item-description {
    max-width: 90%;
    font-size: 1.5rem;
  }

  p.offer-item-wide-description {
    font-size: 2rem;
  }
}

@media (width <= 1023px) {
  body,
  html {
    font-size: 12px;
  }

  nav #menu-toggle {
    display: block;
  }

  nav {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    min-height: 3rem;
    padding: 0.5rem 2rem;
    font-size: 14px;
  }

  nav ul {
    display: block;
    gap: 0.5rem;
    height: 0;
    overflow: hidden;
    list-style: none;
    transition: height 0.3s ease;
  }

  nav ul li {
    margin: 1rem 0;
  }

  nav ul.show {
    height: auto;
  }

  p {
    max-width: none;
  }

  section {
    padding: 1rem;
  }

  .offer-content {
    width: auto;
  }

  .offer-item-wide,
  .offer-item-gallery {
    grid-column: span 1;
  }

  .offer-item-wide-description {
    font-size: 1.75rem;
    text-align: justify;
  }

  #booking .section-content {
    height: unset;
  }

  #booking .section-content > iframe {
    width: 110%;
    height: 1250px;
  }
}
